{% load static %}
{% load sass_tags %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ title }}</title>
    <link rel="stylesheet"
          href="{% sass_src 'styles.scss' %}"
          type="text/css"
          media="all">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

    <script src="{% static 'js/calendar.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/dropdown.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/modal.js' %}" charset="utf-8"></script>
    <script>
      $(document).ready(function () {
        $('#myDataTable').DataTable();
      });
    </script>
    
  </head>
  <body>
    {% include "main/includes/header.html" %}
    <div id="vue-add-note">
    {% include "main/includes/modal-create-note.html" %}
    {% include "main/includes/modal-user-notes.html" %}
    {% include "main/includes/modal-create-group.html" %}
    </div>
    
    {% block content %}{% endblock %}
   <script src="{% static 'js/dist/app.js' %}?v=1.01"
                charset="utf-8"></script>  
  </body>
  
</html>
