{% load static %}{% load sass_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width" />
    <title>Финансовый университет</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css">
    <link rel="stylesheet" href="styles.css">
    
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap5.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>


    <!-- Styles for DataTables Buttons -->
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.0/css/buttons.dataTables.min.css">

    <!-- JS for DataTables Buttons and its features -->
    <script src="https://cdn.datatables.net/buttons/2.2.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.0/js/buttons.html5.min.js"></script>

    <link rel="stylesheet" href="{% sass_src "styles.scss" %}" type="text/css" media="all">
  </head>
  <body>
    {% block content %}{% endblock %}
    <script src="{% static "js/dist/app.js" %}" charset="utf-8"></script>

    <script>
      document.querySelector('.edit-btn').addEventListener('click', function() {
          const userId = this.getAttribute('data-user-id');
          const name = document.querySelector('#editName').value;
          const lastname = document.querySelector('#editLastname').value;
          const email = document.querySelector('#editEmail').value;
  
          console.log('userId:', userId);
          console.log('name:', name);
          console.log('lastname:', lastname);
          console.log('email:', email);
      
          // Создайте объект FormData, чтобы упростить отправку данных формы
          const formData = new FormData();
          formData.append('editingEmail', name);
          formData.append('editName', name);
          formData.append('editLastname', lastname);
          formData.append('editEmail', email);
      
          // Отправьте данные на сервер через POST-запрос
          fetch(`/edit_user/${userId}/`, {
              method: 'POST',
              headers: {
                  'X-CSRFToken': document.querySelector('input[name=csrfmiddlewaretoken]').value
              },
              body: formData // Отправляем объект FormData с данными формы
          })
          .then(response => response.json())
          .then(data => {
              if (data.success) {
                  // Закройте модальное окно
                  $('#editModal').modal('hide');
                  // Обновите страницу или выполните другие действия при успешном редактировании
              } else {
                  // Выведите сообщение об ошибке, если не удалось сохранить изменения
                  alert('Ошибка при сохранении изменений.');
              }
          });
      });
      
  </script>


  </body>




{% comment %} 
<script>
  $(document).ready(function() {

  let userRecords = JSON.parse(localStorage.getItem('userRecords')) || [];
  
  const table = $('#userTable').DataTable({
      data: userRecords,
      columns: [
          { data: 'name', title: 'Имя' },
          { data: 'lastname', title: 'Фамилия' },
          { data: 'email', title: 'Email' },
          { title: 'Редактирование', defaultContent: '<button class="btn btn-success edit-button">Редактировать</button>' },
          { title: 'Удаление', defaultContent: '<button class="btn btn-danger delete-button">Удалить</button>' }
      ],
      dom: 'Bfrtip',
      buttons: [
          {
              extend: 'excelHtml5',
              exportOptions: {
                  rows: ':visible' 
              }
          }
      ]
    });
  });

</script> {% endcomment %}


</html>

