{% extends "main/base.html" %}
{% load static %}

{% block content %}

<div class="container flex w-full flex-col md:flex-row p-4 mt-20 mb-20">
    <div class="flex flex-col w-full md:w-1/2">
        <h1 class="title uppercase mb-7 text-5xl">{{ profile.title }}</h1>
        <p class="text-3xl text-white mb-7">{{ profile.slogan }}</p>
        <p class="mb-7 text-xl"> {{ profile.description|safe }}</p>

        <div class="flex w-1/2">
            <a href="{% url 'main:registration' %}"class="join-btn text-white px-4 py-2 rounded-md drop-shadow-md text-xl">Присоединиться</a>
        </div>

    </div>
    <div class="flex w-full md:w-1/2 justify-center place-items-center">
        <img src="{{ profile.img.url }}" alt="{{ profile.title }}">
    </div>
</div>


{% endblock %}
