{% extends "main/base.html" %}
{% load static %}

{% block content %}

<div class="doctor-nav">
    <div class="container p-2 space-x-8 mx-auto flex flex-row place-content-center">
        <a href="{% url "main:profile" %}" class="doctor-nav-item p-2">Профиль</a>
        <a href="#" class="doctor-nav-item p-2 font-bold">Пациенты</a>
    </div>
</div>

<div class="container">
    <button class="create-group px-4 py-2 mt-8">Создать группу</button>
</div>

<div class="py-10">
    <table id="myDataTable" class="display">
        <thead>
          <tr>
            <th>№ группы</th>
            <th>Название группы</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Диабет</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Пневмания</td>
          </tr>
          <tr>
            <td>3</td>
            <td>ОРВ</td>
          </tr>
        </tbody>
      </table>
      
</div>
    


{% endblock %}