{% extends "main/base.html" %}
{% load static %}

{% block content %}

<div class="doctor-nav">
    <div class="container p-2 space-x-8 mx-auto flex flex-row place-content-center">
        <a href="{% url 'main:profile' %}" class="doctor-nav-item p-2">Профиль</a>
        <a href="#" class="doctor-nav-item p-2 font-bold">Пациенты</a>
    </div>
</div>

{% comment %} <div class="container">
    <button class="create-group px-4 py-2 mt-8">Создать группу</button>
</div> {% endcomment %}

<div class="py-10">
    <table id="myDataTable" class="display">
        <thead>
          <tr>
            <th>№ группы</th>
            <th>Название группы</th>
          </tr>
        </thead>
        <tbody>
        {% for group in groups %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'main:group' group.id %}" >{{ group.title }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
</div>
    


{% endblock %}