{% load static %}
<div id="chooseModal" class=" note-modal container modal hidden fixed inset-0 z-50 overflow-auto flex items-center justify-center">
    <div class="modal-content bg-white w-full p-8 rounded-lg max-h-60 lg:max-h-auto overflow-y-auto">
        <span class="close close-create-modal text-gray-500 cursor-pointer absolute top-4 right-4 text-2xl">&times;</span>
       
            <button type="button" id="change" @click="changeNote()">Изменить</button>
            <button id="delete" @click="deleteNote()">Удалить</button>
       
    </div>
</div>

