{% load static %}

<div id="editNoteModal" class="edit-note-modal container modal hidden fixed inset-0 z-50 overflow-auto flex items-center justify-center">
    <div class="modal-content bg-white w-full p-8 rounded-lg max-h-60 lg:max-h-auto overflow-y-auto">
        <span class="close close-edit-modal text-gray-500 cursor-pointer absolute top-4 right-4 text-2xl">&times;</span>
        <form id="editNoteForm">
            <!-- Добавьте необходимые поля для редактирования заметки -->
            <div class="mb-4">
                <label for="editTime" class="block text-sm font-medium text-gray-700">Время:</label>
                <input v-model="editingNote.time" type="time" id="editTime" name="editTime" class="mt-1 p-2 border rounded-md w-full">
            </div>

            <div class="mb-4">
                <label for="editNoteType" class="block text-sm font-medium text-gray-700">Категория*:</label>
                <select v-model="editingNote.category" id="editNoteType" name="editNoteType" class="mt-1 p-2 border rounded-md w-full">
                    <option value="Личное">Личное</option>
                    <option value="Доступно врачу для просмотра">Доступно врачу для просмотра</option>
                </select>
            </div>

            <div class="mb-4">
                <label for="editNoteText" class="block text-sm font-medium text-gray-700">Текст*:</label>
                <textarea v-model="editingNote.text" id="editNoteText" name="editNoteText" rows="4" class="mt-1 p-2 border rounded-md w-full"></textarea>
            </div>

            <a id="saveEditNote" class="save-edit-note-btn text-white p-2 rounded-md" @click="saveChanges()">Сохранить изменения</a>
            <a id="deleteNote" class="delete-note-btn text-white p-2 rounded-md" @click="deleteNote()">Удалить заметку</a>
        </form>
    </div>
</div>

